:root {
	--border-radius: 0.5rem;
	--border-size: 2px;
	--color-background: #ede9fe;
	--color-foreground: #f5f3ff;
	--color-gray: #94a3b8;
	--color-on-background: #334155;
	--color-on-foreground: #1e293b;
	--color-on-primary: #f5f3ff;
	--color-on-primary-hover: #ddd6fe;
	--color-primary: #6366f1;
	--color-primary-hover: #818cf8;
	--color-white: #f8fafc;
	--transition-default: 0.3s;
	--transition-slower: 0.6s;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #090a18;
		--color-foreground: #292b40;
		--color-gray: #656770;
		--color-on-background: #8490a7;
		--color-on-foreground: #e7e7e7;
		--color-on-primary: #1e1e1e;
		--color-on-primary-hover: #42445a;
		--color-primary: #676af5;
		--color-primary-hover: #818cf8;
		--color-white: #121212;
	}
}
* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	transition: var(--transition-default);
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	margin: 2px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--color-gray);
	border-radius: var(--border-radius);
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-on-background);
}
::selection {
	background: var(--color-primary);
	color: var(--color-on-primary);
}
body {
	background: var(--color-background);
	color: var(--color-on-background);
	margin: auto;
	min-height: 100vh;
	padding: 0 1rem;
	width: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
