:root {
	--color-theme: hsl(210, 40%, 98%);
	--color-background: hsl(252, 100%, 98%);
	--color-foreground: hsl(254, 100%, 96%);
	--color-gray: hsl(215, 20%, 65%);
	--color-on-background: hsl(215, 25%, 27%);
	--color-on-foreground: hsl(217, 33%, 17%);
	--color-on-primary: hsl(250, 100%, 98%);
	--color-on-primary-hover: hsl(251, 95%, 92%);
	--color-primary: hsl(230, 100%, 30%);
	--color-primary-hover: hsl(230, 55%, 45%);
	--transition-default: 0.3s;
	--border-size: 2px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-theme: hsl(0, 0%, 7%);
		--color-background: hsl(236, 45%, 6%);
		--color-foreground: hsl(235, 22%, 21%);
		--color-gray: hsl(229, 5%, 42%);
		--color-on-background: hsl(219, 17%, 59%);
		--color-on-foreground: hsl(0, 0%, 91%);
		--color-on-primary: hsl(0, 0%, 12%);
		--color-on-primary-hover: hsl(235, 15%, 31%);
		--color-primary: hsl(230, 100%, 70%);
		--color-primary-hover: hsl(230, 100%, 85%);
	}
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	transition: var(--transition-default);
	-webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

:focus {
	outline: 0;
}

::selection {
	background: var(--color-primary);
	color: var(--color-on-primary);
}

body {
	background: var(--color-background);
	color: var(--color-on-background);
	margin: auto;
	min-height: 100vh;
	padding: 0 1rem;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--color-primary-hover);
}
